[user]
	name = David Wallin
	email = dwa@havanaclub.org

[imap]
        folder = "[Gmail]/Drafts"
        host = imaps://imap.gmail.com
        user = david.wallin@gmail.com
        port = 993
        sslverify = false

[url "https://"]
        insteadOf = git://
